<main>

                <div class="recent-orders">
                    <div class="header">
                        <h2>Utilisateur (2)</h2>
                        <a routerLink="/add-user" class="new-student-btn">+ Nouveau utilisateur</a>
                    </div>

                    <table>
                        <thead>
                            <tr>
                                <th>Pseudo</th>
                                <th>Date de creation</th>

                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>admin</td>
                                <td>16/08/2024</td>
                                <td>
                                  <a routerLink="/modify-user"> <button  class="btn edit">Modifier</button></a>

                                </td>

                            </tr>
                            <tr>
                                <td>user2</td>
                                <td>13/08/2024</td>

                                <td >
                                  <a routerLink="/modify-user"> <button  class="btn edit">Modifier</button></a>


                                </td>

                            </tr>
                        </tbody>
                    </table>

                </div>

            </main>
